{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title %}
    {{heading}}
{% endblock title %}


{% block content %}
<div class="bg-light p-5 rounded">
    <h1>{{heading}}</h1>
    <p>
        <form method="post" action="">
            {% csrf_token %}
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Receive Quantity</label>
              {% render_field form.receive_quantity class="form-control" %}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </p>
  </div>
{% endblock content %}
    
    